/** STYLE.CSS - ESTILOS DEFINIDOS **/
/* PENDIENTE: FONTS */

/** RESPONSIVO **/
@media (max-width: 768px) {
  .language-container {
    flex-direction: column;
  }

  .language-right {
    margin-top: 10px;
  }
}

/** BODY **/
body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  background-image: url("..//background/wallpaper-blackpink.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

/** HEADER **/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: rgba(168, 218, 220, 0.5);
}

.header img {
  height: 50px;
  margin-right: 10px;
}

/** RESPONSIVO **/
.footer {
  background-color: rgba(168, 218, 220, 0.5);
  width: 300px;
  clear: both;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 15px;
}

.footer img {
  height: 50px;
  margin-right: 10px;
}

/** CONTAINER PRINCIPAL **/
.translation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/** CONTAINER SECUNDARIO **/
.language-container{
  display: flex;
  justify-content: space-between; 
}

/** CONTAINER IZQUIERDO Y DERECHO **/
.language-left,
.language-right{
  background-color: #f1faee;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/** SELECCIÓN IDIOMA **/
.form-container,
.form-container-right {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/** ICONOS **/
.button-icon{
  background: none;
}

.icon{
  height: 25px;
  margin-right: 25px;
}

/** CAJAS DE TEXTO **/
.input-box{
  margin-right: 10px;
}

.output-box{
  margin-right: 10px;
}

.output-box textarea {
  background-color: #f7f7f7;
}

.input-box textarea,
.output-box textarea {
  width: 100%; 
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 5px;
  resize: none;
  height: 150px;
}

/** BOTÓN TRADUCCIÓN **/
.translate-button {
  margin-top: 10px;
  text-align: center;
}

.translate-button button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #323232;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.translate-button button:hover {
  background-color: #555555;
}

